@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: rgb(47, 56, 104);
  --color-primary-light: rgba(47, 56, 104, 0.896);

}

* {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

