@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: rgb(47, 56, 104);
  --color-primary-light: rgba(47, 56, 104, 0.896);

  /* For Linear Gradient */
  --color-initial: rgb(47, 56, 104);
  --color-final: rgb(30 60 169);
  --color-initial-light: rgba(47, 56, 104, 0.896);
  --color-final-light: rgb(29 74 214);

}

* {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}